<a href="https://colab.research.google.com/github/leonfrench/polyprotein_stats/blob/yeast_embeddings/notebooks/generate_proportions_yeast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://github.com/leonfrench/AD-Allen-FDG/raw/master/data/protein_gencode/gencode.v32.pc_translations.fa.gz
!gzip -d gencode.v32.pc_translations.fa.gz

--2022-02-07 15:53:34--  https://github.com/leonfrench/AD-Allen-FDG/raw/master/data/protein_gencode/gencode.v32.pc_translations.fa.gz
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/leonfrench/AD-Allen-FDG/master/data/protein_gencode/gencode.v32.pc_translations.fa.gz [following]
--2022-02-07 15:53:34--  https://raw.githubusercontent.com/leonfrench/AD-Allen-FDG/master/data/protein_gencode/gencode.v32.pc_translations.fa.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11643034 (11M) [application/octet-stream]
Saving to: ‘gencode.v32.pc_translations.fa.gz’

gencode.v32.pc_tran 100%[===================>]  11.10M  --.-KB/s    in 0.1s

2022-02-07 15:53:35 (109 MB/s) - ‘gencode.v32.pc_translations.fa.gz’ saved [11643034/11643034]

In [ ]:
!pip install biopython

Collecting biopython
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 7.6 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython) (1.19.5)
Installing collected packages: biopython
Successfully installed biopython-1.79

In [ ]:
import pandas as pd
import numpy as np
import os
from Bio import SeqIO
from datetime import datetime
import functools
from google.colab import drive
from collections import Counter

In [ ]:
embedding_file_path_processed = './gdrive/MyDrive/data/protein_embeddings_processed/'

In [ ]:
drive.mount("/content/gdrive/")

Mounted at /content/gdrive/

In [ ]:
sequence_list = list(SeqIO.parse("gencode.v32.pc_translations.fa", "fasta"))

In [ ]:
sequences_strings = [str(x.seq) for x in sequence_list]
sequences_ids = [x.id for x in sequence_list]

In [ ]:
sequence_df = pd.DataFrame(  data = {'ids' : sequences_ids, 'sequences': sequences_strings})

In [ ]:
#count amino acids
sequence_df = pd.concat([sequence_df.reset_index(drop=True), sequence_df['sequences'].apply(Counter).apply(pd.Series)], axis = 1)

In [ ]:
#drop the sequence column
#extract gene_symbol again (code reuse from another workbook)
sequence_df['gene_symbol'] = sequence_df['ids'].str.split(pat="|", n=-1, expand=True)[6]
sequence_df.drop(['ids', 'sequences'], axis=1, inplace=True) 

cols = sequence_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
sequence_df = sequence_df[cols]
#write out

In [ ]:
sequence_df['length'] = sequence_df.sum(axis=1, numeric_only=True)

In [ ]:
sequence_df

       gene_symbol     M     K     V     T  ...     H     P     R     C  length
0            OR4F5  12.0  15.0  27.0  22.0  ...   9.0  11.0   8.0   9.0   326.0
1            OR4F5  11.0  13.0  26.0  19.0  ...   9.0  11.0   8.0   9.0   305.0
2           OR4F29  11.0  12.0  31.0  17.0  ...  10.0  13.0  11.0   9.0   312.0
3           OR4F16  11.0  12.0  31.0  17.0  ...  10.0  13.0  11.0   9.0   312.0
4           SAMD11   4.0  17.0  11.0  11.0  ...  13.0  39.0  34.0  10.0   358.0
...            ...   ...   ...   ...   ...  ...   ...   ...   ...   ...     ...
100286     MT-ND4L  10.0   0.0   6.0   5.0  ...   3.0   2.0   1.0   3.0    98.0
100287      MT-ND4  27.0  11.0  13.0  48.0  ...  13.0  23.0   9.0   3.0   459.0
100288      MT-ND5  26.0  21.0  15.0  65.0  ...  14.0  32.0   8.0   6.0   603.0
100289      MT-ND6  10.0   2.0  31.0   4.0  ...   0.0   4.0   3.0   1.0   174.0
100290      MT-CYB  15.0   9.0  10.0  31.0  ...  12.0  23.0   7.0   2.0   380.0

[100291 rows x 22 columns]

In [ ]:
#drop x and u
sequence_df.drop(['X', 'U'], axis=1, inplace=True) 
#fill na
sequence_df.fillna(0, inplace=True)

In [ ]:
#change to proportion

In [ ]:
cols = set(sequence_df.columns.values).difference(('gene_symbol','length'))

In [ ]:
sequence_df[[col for col in cols]] = sequence_df[cols].div(sequence_df['length'], axis='index')

In [ ]:
sequence_df

       gene_symbol         M         K  ...         R         C  length
0            OR4F5  0.036810  0.046012  ...  0.024540  0.027607   326.0
1            OR4F5  0.036066  0.042623  ...  0.026230  0.029508   305.0
2           OR4F29  0.035256  0.038462  ...  0.035256  0.028846   312.0
3           OR4F16  0.035256  0.038462  ...  0.035256  0.028846   312.0
4           SAMD11  0.011173  0.047486  ...  0.094972  0.027933   358.0
...            ...       ...       ...  ...       ...       ...     ...
100286     MT-ND4L  0.102041  0.000000  ...  0.010204  0.030612    98.0
100287      MT-ND4  0.058824  0.023965  ...  0.019608  0.006536   459.0
100288      MT-ND5  0.043118  0.034826  ...  0.013267  0.009950   603.0
100289      MT-ND6  0.057471  0.011494  ...  0.017241  0.005747   174.0
100290      MT-CYB  0.039474  0.023684  ...  0.018421  0.005263   380.0

[100291 rows x 22 columns]

In [ ]:
#combine multiple genes into single rows
sequence_df = sequence_df.groupby('gene_symbol').agg('mean')
sequence_df = sequence_df.reset_index()

In [ ]:
sequence_df.shape

(20341, 22)

In [ ]:
sequence_df

      gene_symbol         M         K  ...         R         C      length
0            A1BG  0.010598  0.027505  ...  0.061202  0.021576  400.000000
1            A1CF  0.027583  0.065919  ...  0.055396  0.011139  542.875000
2             A2M  0.024255  0.068036  ...  0.029584  0.016197  451.250000
3           A2ML1  0.024095  0.053125  ...  0.035954  0.024563  644.500000
4         A3GALT2  0.029412  0.026471  ...  0.091176  0.014706  340.000000
...           ...       ...       ...  ...       ...       ...         ...
20336        ZXDC  0.012037  0.041627  ...  0.055113  0.032472  662.000000
20337      ZYG11A  0.035241  0.054338  ...  0.048224  0.030164  531.000000
20338      ZYG11B  0.027575  0.051367  ...  0.048929  0.025136  655.000000
20339         ZYX  0.012413  0.041358  ...  0.042359  0.031316  316.428571
20340       ZZEF1  0.028582  0.054919  ...  0.047692  0.024804  841.200000

[20341 rows x 22 columns]

In [ ]:
sequence_df = sequence_df.reset_index(drop=True)

In [ ]:
sequence_df.to_csv(os.path.join(embedding_file_path_processed, "gene_symbol_summarized_proportions.csv"), index=False)

In [ ]:
embedding_file_path_processed

'./gdrive/MyDrive/data/protein_embeddings_processed/'